services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ${HOME}/apps/ollama:/root/.ollama
    restart: unless-stopped

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3002:8080"
    volumes:
      - ${HOME}/apps/open-webui:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    restart: unless-stopped

  openedai-speech:
      image: ghcr.io/matatonic/openedai-speech-min
      container_name: openedai-speech
      restart: unless-stopped
      volumes:
        - ${HOME}/apps/openedai/voices:/app/voices
        - ${HOME}/apps/openedai/config:/app/config

networks:
  default:
    external: true
    name: main
